<div class="learn-block" data-subject="russian" data-number="7.19">
	<div class="learn-block-label">7.19 - Часть речи. Междометие</div>
	<div class="learn-block-content">
		<div class="learn-block-content-highlighted">Междометие (м.) — часть речи, отличающаяся тем, что ни с кем «не дружит», не примыкает к самостоятельным либо к служебным, высказывает эмоции говорящего или воздействует на кого-то.</div>
		<div class="learn-block-content-text">По значению м. делят на:</div>
		<div class="learn-block-content-text"><b>1) Эмоциональные</b>, высказывают, не называя, эмоциии, настроения (радость, боль, переживания, сострадание и др.): ох, ай‐ай‐ай, да ну, батюшки-светы и др.<br><b>2) Императивные</b>, побуждают к действию: ну, эй, кис-кис-кис, вон, брысь, марш, ну-ка, тс-с.<br><b>3) Этикетные</b> - слова речевого этикета: здравствуй(те), пока, спасибо, пожалуйста.</div>
		<div class="learn-block-content-text">М. не меняются, не имеют синтаксической функции, кроме случаев, когда м. субстантивируются — "работают" в роли С.: Вдалеке слышалось ау. (здесь ау — С.)</div>
		<div class="learn-block-content-text">М. выделяются на письме запятой или восклицательным знаком: Эх, жалко парня</div>
		<div class="learn-block-content-text">Они делятся на <b>производные</b> (Боже, ужас) и <b>непроизводные</b> (эх, фу).</div>
	</div>
</div>