<div class="learn-block" data-subject="russian" data-number="7.11">
	<div class="learn-block-label">7.11 - Знаки препинания в сложносочиненном предложении</div>
	<div class="learn-block-content">
         <div class="learn-block-content-highlighted"><b>Сложносочинённое предложение (ССП)</b> имеет равноправные по смыслу части, объединённые сочинит. союзами, между которыми бывают различные смысловые отношения, отделяются части запятыми.</div>
	     <div class="learn-block-content-text"><b>NB!</b> Иногда между частями ССП запятые не ставят. Рассмотрим эти случаи:</div>
	     <div class="learn-block-content-text">А) общий второстепенный член</div> 
	     <div class="learn-block-content-text">общее придаточное предложение</div> 
	     <div class="learn-block-content-text">общее вводное слово</div> 
	     <div class="learn-block-content-text">все части являются вопросительными, восклицательными или побудительными предложениями:</div> 
	     <div class="learn-block-content-text">общее поясняемое предложение, связанное бессоюзной связью с остальной частью сложного предложения</div> 
	     <div class="learn-block-content-text"><b>NB!</b> Перед союзом И ставится тире, если в предложении есть резкое противопоставление или быстрая смена событий.</div>
	</div>
</div>