<div class="learn-block" data-subject="russian" data-number="3.1">
	<div class="learn-block-label">3.1 - Значимые части слова (морфемы)</div>
	<div class="learn-block-content">
		<div class="learn-block-content-highlighted">Наименьшая значимая часть слова — <b>морфема</b>.</div>
		<div class="learn-block-content-label"><b>Состав слова</b></div>
		<div class="learn-block-content-highlighted"><b>Основа</b> — всё слово без окончания, выражающее смысл. </div>
		<div class="learn-block-content-text">Например, небо – неба – небу – небом.</div>
		<div class="learn-block-content-highlighted">Та часть слова, которая меняется, называют <b>окончанием</b>. Она образует форму слова и у частей речи означает разные грамматические значения (род, число, падеж, лицо).</div>
		<div class="learn-block-content-text">Например, небо – неба – небу – небом; решаю – решаешь – решает – решаем – решаете – решают.</div>
		<div class="learn-block-content-text">Нулевое окончание не обозначено звуками, но если поменять форму слова, проявляется: ребенок□ – ребёнка – ребёнку.</div>
		<div class="learn-block-content-text">Если вы хотите найти окончание, измените форму слова. Та изменившаяся часть и будет окончанием</div>
		<div class="learn-block-content-highlighted"><b>Корень</b> — общая неделимая часть всех родственных слов, в которой заключается их смысл (вода – водный – водоём, водяной, водолаз).</div>
		<div class="learn-block-content-text">Если вы хотите найти корень слова, подберите к нему родственные: звонить, звон, звонок, перезвонить, звонарь. Звон и есть их общий корень.</div>
		<div class="learn-block-content-highlighted"><b>Приставка</b> — значимая часть слова, стоящая пред корнем и выполняющая словобразующую и формообразующую функции: бежать – перебежать, делать – сделать.</div>
		<div class="learn-block-content-text">Большая часть приставок исконно русские. Иноязычных приставок мало: алогичный, антикоррупционный, архинужный, контрудар, дезинформация, диспропорция, импортировать, реорганизовать, ультразвук, экс-президент).</div>
		<div class="learn-block-content-highlighted"><b>Суффикс</b> — значимая часть слова, которая стоит после корня и осуществляет словобразующую и формообразующую функции: пень – пенёк, нарисовать – нарисовав, обозревать – обозреватель.</div>
		<div class="learn-block-content-label">Чередование звуков</div>
		<div class="learn-block-content-highlighted">Чередование — явление, при котором в одной части слова один звук (или звуки) заменяется другим (другими).</div>
		<div class="learn-block-content-text">Чередование звуков происходит:<br><b>1)</b> в приставках: разбить – разобрать, взбираться – взойти, рассказать – разыграть;<br><b>2)</b> в корнях: бросить – брошу, любить – люблю, печь – пеку;<br><b>3)</b> в суффиксах: носок – носка, носок – носочек;<br><b>4)</b> в окончаниях: верой – верою, сахара – сахару.</div>
	</div>
</div>