<div class="learn-block" data-subject="russian" data-number="6.8">
	<div class="learn-block-label">6.8 -Распространенные и нераспространенные предложения</div>
	<div class="learn-block-content">
		<div class="learn-block-content-text">По наличию второстепенных членов предложения бывают:<br><b>Нераспространённые,</b> имеющими только главные члены:<br>Лето.<br>Дети пришли.<br>Ясно.<br>Урок окончен.<br><b>Распространёнными,</b> кроме главных членов предложения имеющие и второстепенные:<br>Прохладное дождливое лето.<br>Скоро дети пришли домой.<br>Смахните с потолка паутину.</div>
	</div>
</div>