<div class="learn-block" data-subject="russian" data-number="7.11">
	<div class="learn-block-label">7.11 - Группы слов по происхождению и употреблению</div>
	<div class="learn-block-content">
		<div class="learn-block-content-label"><b>Исконно русская и заимствованная лексика</b></div>
		<div class="learn-block-content-text">В зависимости от того, как произошли слова, они относятся к исконно русской и заимствованной лексике.</div> 
		<div class="learn-block-content-highlighted">Слова, произошедшие в русском языке, называются <b>исконно русскими</b>.</div>
		<div class="learn-block-content-text">К примеру, серебро, мешок, зажигалка, вера, теперь.</div>
		<div class="learn-block-content-highlighted">Слова, вошедшие в русский язык из других языков, называются <b>заимствованными</b>.</div>
		<div class="learn-block-content-text">К примеру, филология, джаз, спортсмен, деньги, каникулы, пьеса.</div>
		<div class="learn-block-content-label"><b>Активная и пассивная лексика</b></div>
		<div class="learn-block-content-highlighted"><b>Активная лексика</b> - слова, регулярно употребляемые.</div>
		<div class="learn-block-content-text">Пополняется она за счёт того, что появляются новые явления, понятия и, соответственно, новые слова – неологизмы: марсоход, контент, проектор, рерайтинг. Эти слова, сначала доступные узкому кругу лиц, постепенно становятся общеупотребительными.</div>
		<div class="learn-block-content-text">Существуют и авторские неологизмы – слова, созданные писателями и поэтами. К примеру, «Одиночила в комнате девушка...» (И.Северянин).</div>
		<div class="learn-block-content-highlighted"><b>Пассивную, устаревшую лексику</b> составляют слова, вышедшие из живого употребления. </div>
		<div class="learn-block-content-text">Она подразделяется на архаизмы и историзмы.</div>
		<div class="learn-block-content-highlighted"><b>Архаизмы</b> вышли из активного использования вследствие того, что они заменились новыми: ежели – если, длань – ладонь, око – глаз.</div>
		<div class="learn-block-content-highlighted"><b>Историзмы</b> устарели, так как исчезли предметы, наименования, которые они обозначали: латы, карета, треуголка, лапти.</div>
		<div class="learn-block-content-label"><b>Экспрессивно-стилистическая лексика</b></div>
		<div class="learn-block-content-text">В лексике русского языка  можно выделить:<br>стилистически нейтральную <br>и стилистически окрашенную.</div>
		<div class="learn-block-content-highlighted">Слова, <b>стилистически нейтральные</b>, не выражают никакой оценки и употребляются в любом стиле речи. </div>
		<div class="learn-block-content-text">Таких слов больше всего: лошадь, идти, белый, сидеть, вдалеке.</div>
		<div class="learn-block-content-highlighted">В <b>стилистически окрашенной</b> лексике выделяют слова книжные и разговорные, жаргонные и просторечные. </div>
		<div class="learn-block-content-text">Книжные слова свойственны для книжно–письменной речи: жаждать, уста, начертать.</div>
		<div class="learn-block-content-text">Разговорные слова используются в устной речи. Немалая их  часть показывает, как говорящий относится к называемому предмету, явлению, действию, свойству, признаку и даёт их эмоциональную оценку: дедушка, доченька, егоза, мальчонка. Они придают речи непринужденность и в то же время не выражают грубость.</div>
		<div class="learn-block-content-text">Жаргонные слова находятся за пределами литературного языка. Они свойственны людям обособленной социальной группы, к примеру, школьникам, молодежи, спортсменам, уголовникам. У студентов «автомат» – это получение экзаменационной отметки или зачёта по итогам успеваемости, без сдачи экзамена или зачёта.</div>
		<div class="learn-block-content-text">Просторечные слова  также находятся за пределами литературного языка. Они стилистически снижены, дают социально – культурную характеристику говорящему. К примеру, ихний, покамест, ляпнуть, головастый, навалом. К просторечным также относят вульгарные, грубые, бранные слова: харя, ошалеть, обалдеть, слямзить.</div>
		<div class="learn-block-content-label"><b>Диалектизмы и профессионализмы</b></div>
		<div class="learn-block-content-text">С точки зрения сферы употребления можно выделить общенародную лексику и группы слов, известные только кругу лиц: диалектизмы и профессионализмы.</div>
		<div class="learn-block-content-highlighted"><b>Диалектизмы</b> - слова, понятные  людям, живущих на общей территории. </div>
		<div class="learn-block-content-text">К примеру, свёкла – бурак, буряк; хорошо – любо; мотыга – тяпка, сапка.</div>
		<div class="learn-block-content-highlighted"><b>Профессионализмы</b> свойственны представителям определённой профессии.</div>
		<div class="learn-block-content-text">К примеру, водители на «руль» говорят «баранка», «окно» у преподавателей и железнодорожников – это свободное место в расписании.</div>
	</div>
</div>