<div class="learn-block" data-subject="russian" data-number="8.6">
	<div class="learn-block-label">8.6  -Создание текстов различных стилей и функционально-смысловых типов речи</div>
	<div class="learn-block-content">
		<div class="learn-block-content-text">Умение создавать текст различных стилей и типов речи необходимо для написания сочинения ЕГЭ.
        Выписывайте проблемы, которые приходят на ум во время чтения текста. Проблем может быть несколько. Поэтому, для написания сочинения вы должны выбрать ту, к которой уверено сможете подобрать аргументы.<br>На данном уроке вспомним стили и типы речи.</div>
        <div class="learn-block-content-text"><b>Создание текстов различных стилей речи</b></div>
        <div class="learn-block-content-text"><b>Создание текстов различных типов речи</b></div>
	</div>
</div>