<div class="learn-block" data-subject="russian" data-number="2.3">
	<div class="learn-block-label">2.3 - Фразеологические обороты</div>
	<div class="learn-block-content">
		<div class="learn-block-content-highlighted"><b>Фразеологический оборот (ФО)</b> — устойчивое, далее неделимое словосочетание, которое возможно заменить одним словом.</div>
		<div class="learn-block-content-text">Примеры ФО:<br>считать ворон – бездельничать;<br>вилами по воде писано – что-то непонятное, неточное, неопределенное, исчезающее так же быстро, как круги на воде.</div>
		<div class="learn-block-content-text">Фразеологизм нельзя расчленить на отдельные слова. К примеру, «дать стрекоча» = убежать. В предложении ФО бывает одним членом предложения: «Петр на повороте дал стрекоча». «Дал стрекоча» – это сказуемое.</div>
		<div class="learn-block-content-text">ФО надо отличать от свободных сочетаний слов. К примеру, «Наташа хотела набить карман леденцами» и «Чихаев решал, как набить карман». В первом случае «набить» – сказуемое, «карман» – дополнение, а во втором случае «набить карман» – полностью сказуемое.</div>
		<div class="learn-block-content-text">К фразеологической системе языка относят:<br>пословицы,<br>поговорки,<br>афоризмы,<br>крылатые слова</div>
		<div class="learn-block-content-highlighted"><b>Пословицы</b> — меткие образные высказывания, имеющие поучительный смысл. </div>
		<div class="learn-block-content-text">К примеру, «Семь раз отмерь – один отрежь», «Любишь кататься – люби и саночки возить».</div>
		<div class="learn-block-content-highlighted"><b>Поговорки</b> — меткие, четко ритмизованные высказывания, похожие на пословицы, но не поучающие.</div>
		<div class="learn-block-content-text">К примеру, «Что в лоб, что по лбу», «Лыку не вяжет».</div>
		<div class="learn-block-content-highlighted"><b>Афоризмы</b> — короткие изречения обычно книжного возникновения, в образной форме содержащие оригинальную мысль.</div>
		<div class="learn-block-content-text">К примеру, «Человек рождён для счастья, как птица для полёта».</div>
		<div class="learn-block-content-highlighted"><b>Крылатые слова</b> — меткие выражения литературного происхождения, они являются общеупотребительными.</div>
		<div class="learn-block-content-text">К примеру, «Счастливые часов не наблюдают» (Грибоедов)</div>
	</div>
</div>