<div class="learn-block" data-subject="russian" data-number="7.16">
	<div class="learn-block-label">7.16 - Словообразовательный анализ слова</div>
	<div class="learn-block-content">
		<div class="learn-block-content-label"><b>Порядок анализа</b></div>
		<div class="learn-block-content-text">1. Поясните лексическое значение данного слова.<br>2. Укажите слово, от которого произошло данное.<br>3. Укажите способ образования.</div>
		<div class="learn-block-content-label"><b>Образец письменного анализа</b></div>
		<div class="learn-block-content-text"><b>Подберёзовик</b></div>
		<div class="learn-block-content-text">1. Подберёзовик - "находящийся под берёзой".<br>2. Подберёзовик - произошло от берёза.<br>3. Под+берёз+ов+ик (приставочно-суффиксальный способ, 2 суффикса).</div>
	</div>
</div>