<div class="learn-block" data-subject="russian" data-number="2.5">
	<div class="learn-block-label">2.5 - Лексический анализ</div>
	<div class="learn-block-content">
		<div class="learn-block-content-label">План лексического анализа</div>
		<div class="learn-block-content-text">1. Укажите слово. <br> 2. Определите, многозначное оно или однозначное. Объясните его лексическое значение. <br> 3. Если слово имеет много значений, укажите, в каком значении (прямом или переносном) оно взято. Дайте толкование (с примерами)  всех значений этого слова. <br> 4. Если у слова есть синонимы, антонимы, омонимы, назовите их. <br> 5. Охарактеризуйте слово с точки зрения сферы употребления (общеупотребительное, диалектное, устаревшее, профессиональное, жаргонное и т.п.).</div>
		<div class="learn-block-content-label">Пример лексического разбора слова</div>
		<div class="learn-block-content-text">Солнце выглянуло из-за туч. <br> <br> 1. Туч (туча). <br> 2. Многозначное (1 прямое значение: Туча – большое тёмное облако, которое грозит осадками. Тучи сгустились над деревней. 2 переносное значение: Туча – множество, густая масса. Туча насекомых.). <br> 3. В прямом значении: из-за туч – из-за облаков.  <br> 4. Синонимы: облако, туман. <br>5. Общеупотребительное.</div>
	</div>
</div>
