<div class="learn-block" data-subject="russian" data-number="5.9">
	<div class="learn-block-label">5.9 - Сложные бессоюзные предложения. Смысловые отношения между частями сложного бессоюзного предложения</div>
	<div class="learn-block-content">
		<div class="learn-block-content-highlighted"><b>Бессоюзное сложное предложение (БСП)</b>  – это такое предложение, части которого соединяются без союзов и союзных слов, только интонацией:</div>
		<div class="learn-block-content-text">Между частями БСП могут быть разные смысловые отношения:<br><b>последовательность происходящего:</b> Петушок закукарекал, овцы проснулись и заблеяли.<br><b>одновременность:</b> Мама нарезает мясо, папа разжигает костёр.<br><b>пояснение:</b> Тут я вижу: в кустах кто-то лакомится ягодами.<br><b>условие:</b> Задень веточку - на тебя брызнет дождик.<br><b>причина:</b> Уже похолодало - наступила осень.<br><b>сопоставление:</b> Делу время - потехе час.<br><b>следствие:</b> Был ливень - река выйдет из берегов.</div>
		<div class="learn-block-content-text">От того, как расположены части БСП, зависят смысловые отношения между ними.</div>
		<div class="learn-block-content-text"><b>Примеры:</b><br>Темнеет – солнце село. (Темнеет, потому что солнце село - причина)<br>Солнце село – темнеет. (Солнце село, поэтому темнеет - следствие)</div>
	</div>
</div>