<div class="learn-block" data-subject="russian" data-number="7.19">
	<div class="learn-block-label">7.19 - Пунктуационный анализ</div>
	<div class="learn-block-content">
		<div class="learn-block-content-text"><b>План:</b></div>
		<div class="learn-block-content-text">1. Подумайте, почему поставлен тот или иной знак препинания.</div>
		<div class="learn-block-content-text">2. Дайте его  характеристику по употреблению (одиночные, повторяющиеся, парные).</div>
		<div class="learn-block-content-text">3. Укажите его тип по функции (разделительные, выделительные).</div>
		<div class="learn-block-content-text">4.Сформулируйте правило постановки знаков препинания. </div>
		<div class="learn-block-content-text"><b>Образец письменного анализа:</b> </div>
		<div class="learn-block-content-text"> Туристы начали готовиться к ночлегу: они поставили палатки, а потом разожгли костёр.</div>
		<div class="learn-block-content-text">Сложное предложение с бессоюзной и сочинительной видами связей, повеств., невоскл.</div>
		<div class="learn-block-content-text">1. Двоеточие: разделительный, одиночный.</div>
		<div class="learn-block-content-text">2. Запятая: разделительный, одиночный.</div>
		<div class="learn-block-content-text"> Двоеточие ставится после первой части, так как вторая часть поясняет первую; запятая при однородных сказуемых с с.А.</div>
	</div>
</div>