<div class="learn-block" data-subject="russian" data-number="5.11">
	<div class="learn-block-label">5.11 - Способы передачи чужой речи</div>
	<div class="learn-block-content">
		<div class="learn-block-content-highlighted"><b>Чужая речь</b> - речь третьего лица или говорящего, произнесённая ранее.</div>
		<div class="learn-block-content-text">Её можно оформить на письме по-разному.</div>
		<div class="learn-block-content-highlighted"><b>Прямая речь (ПР)</b> – точно воспроизведённая чужая речь, переданная от лица того, кто произносил:</div>
		<div class="learn-block-content-text">«Прелестные горы!» - воскликнула Наташа.</div>
		<div class="learn-block-content-text">«Прелестные горы!» - собственно ПР,  воскликнула Наташа – слова автора.</div>
		<div class="learn-block-content-highlighted">Эту же информацию можно передать  <b>косвенной речью (КР)</b>, которая передаёт чужую речь от лица автор</div>
		<div class="learn-block-content-text">Наташа воскликнула, что вид на горы прелестен.</div>
		<div class="learn-block-content-text"><b>ПР меняется на косвенную:</b>КР означает сообщение, следовательно, предложение, передающее чужую речь, соединяется с. или союзными словами что, будто:<br>Мама проговорила: «Очень я устала».<br>Мама проговорила, что она очень устала.<br><b>А: «П». = [ ], (что...).</b><br>КР означает приказ, следовательно, предложение, передающее чужую речь, соединяется с. чтобы:<br>«Сынок, принеси, пожалуйста, стул», - попросила Наташа.<br>Наташа попросила сына, чтобы он принёс ей стул.<br><b>А: «П». = [ ], (чтобы...).</b><br>КР означает вопрос, следовательно, предложение, передающее чужую речь, соединяется с. что, кто, какой, где, когда, куда, откуда, ли:<br>Наташа спросила: «Принесёшь стул?»,br>Наташа спросила, принесёт ли он/она стул.<br><b>А: «П?» = [ ], (ли..).</b></div>
	</div>
</div>