<div class="learn-block" data-subject="russian" data-number="7.14">
	<div class="learn-block-label">7.14 - Морфемный анализ слова</div>
	<div class="learn-block-content">
		<div class="learn-block-content-label"><b>План морфемного анализа слова</b></div>
		<div class="learn-block-content-text">1. Установите, какая это часть речи.<br>2. Если слово изменяется, найдите окончание, определите, что оно означает.<br>3. Обозначьте основу слова.<br>4. Обозначьте корень, подобрав родственные слова.<br>5. Обозначьте приставки и суффиксы, если они есть (проверьте, правильно ли вы их обозначили).</div>
		<div class="learn-block-content-label"><b>Образец морфемного анализа слова</b></div>
		<div class="learn-block-content-text"><b>"Книжка"</b></div>
		<div class="learn-block-content-text">1. Имя существительное.<br>2. Книжка (книжки-книжку-книжкой). Окончание показывает, что книжка ж.р., ед.ч., И.п.<br>3. Книжка.<br>4. Книжка (однокоренные: книга-книжный, книжица).<br>5. Книжка (проверка, мерка).</div>
	</div>
</div>