@import url('https://fonts.googleapis.com/css?family=Montserrat:300б300i,400,400i,500,500i,600&display=swap&subset=cyrillic');

html {
    color: #25252d;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
a, button, input {
    outline: none!important;
}
.login-page-header, .signup-page-header, .finishSignup-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px 0 50px;
}
.login-page-info, .signup-page-info, .finishSignup-page-info {
    display: flex;
    align-items: center;
}
.login-page-info .slogan, .signup-page-info .slogan, .finishSignup-page-info .slogan {
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 0 50px;
}
.login-page-content, .signup-page-content, .finishSignup-page-content {
    display: flex;
    justify-content: center;
}
.signup-button, .login-button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: ease 300ms;
    color: #25252d;
    font-size: 13px;
}
.signup-button:hover, .login-button:hover {
    opacity: .75;
}
.logo {
    height: 37px;
}
.login-page-illustration, .signup-page-illustration {
    z-index: -2;
    left: 0;
    position: absolute;
    width: 800px;
}
.login-window__wrapper {
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}
.login-window {
    background-color: #25252d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 35px 50px;
    margin: 0 50px 0 0;
}
.login-window-label__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.login-window-label {
    color: #fff;
    font-size: 25px;
}
.login-window__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}
.login-window-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    font-size: 15px;
    width: 365px;
    height:42px;
    padding: 0 0 0 10px;
}
.login-window-form-icon {
    width: 16px;
}
.login-window-form-input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    width: 92%;
    height: 32px;
    margin: 0 0 0 5px;
}
.password-form {
    margin: 15px 0 0 0;
}
.password-forget {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 300;
    color: #fff;
    font-size: 13px;
}
.login-via-networks__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 15px 0 0 0;
}
.login-via-networks__label {
    font-weight: 300;
    color: #fff;
    font-size: 13px;
    opacity: .5;
}
.login-via-networks__content {
    display: flex;
    justify-content: center;
}
.login-via-networks__element {
    margin: 0 7px;
    cursor: pointer;
    border-radius: 100px;
    border: #fff 2px solid;
    transition: ease 300ms;
    width: 30px;
    height: 30px;
}
.login-via-networks__element:hover {
    border: #955bff 2px dotted;
}
.login-window-controls {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px 0 0 0;
}
.login-window-login-button {
    text-decoration: none;
    transition: ease 300ms;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100px;
    background-color: #955bff;
    height: 42px;
    padding: 0 55px;
}
.login-window-login-button:hover {
    color: #955bff;
    background-color: #fff;
}
.signup-window__wrapper {
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}
.signup-window {
    background-color: #25252d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
    padding: 35px 50px;
    margin: 0 50px 0 0;
}
.signup-window-label__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.signup-window-label {
    color: #fff;
    font-size: 25px;
}
.signup-window__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}
.signup-window-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    width: 365px;
    height:42px;
    padding: 0 0 0 10px;
}
.signup-window-form-icon {
    width: 16px;
}
.signup-window-form-input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    width: 92%;
    height: 32px;
    margin: 0 0 0 5px;
}
.signup-window-continue-button, .signup-window-end-signup-button {
    transition: ease 300ms;
    cursor: pointer;
    display: flex;
    border: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 13px;
    border-radius: 100px;
    background-color: #955bff;
    height: 42px;
    width: 100%;
    margin: 50px 0 0 0;
}
.signup-window-continue-button:hover, .signup-window-end-signup-button:hover {
    color: #955bff;
    background-color: #fff;
}
.signup-window-form.login-form {
    margin: 15px 0 0 0;
}
.signup-window-text {
    font-size: 15px;
}
.password-reestablish-window__wrapper {
    top: -9999px;
    z-index: -3;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.password-reestablish-window {
    z-index: 3;
    background-color: #955bff;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    padding: 25px 25px 50px 25px;
}
.password-reestablish-window-pointer {
    z-index: 2;
    position: absolute;
    background-color: #955bff;
    margin: 5px 0 0 0;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}
.password-reestablish-window-text {
    color: #fff;
    font-size: 13px;
}
.password-reestablish-window-email-form {
    background-color: #25252d;
    color: #fff;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 0 15px;
    border: none;
    width: calc(100% - 15px);
    height: 35px;
    margin: 50px 0 0 0;
}
.password-reestablish-window-button {
    cursor: pointer;
    transition: ease 300ms;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25252d;
    font-size: 13px;
    border-radius: 100px;
    width: 100%;
    height: 35px;
    margin: 10px 0 0 0;
}
.password-reestablish-window-button:hover {
    color: #955bff;
    background-color: #fff;
}
.base2-header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 150px;
    display: flex;
    align-items: center;
    background-color: #fff;
    width: calc(100% - 250px);
    height: 125px;
    padding: 0 50px;
}
.base2-header__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.base2-header-controls {
    display: flex;
}
.base2-header-controls__element {
    cursor: pointer;
    text-decoration: none;
    color: #25252d;
    transition: ease 300ms;
    font-size: 12px;
    margin: 10px 30px;
}
.base2-header-controls__element:hover {
    opacity: .75;
}
.base2-header-controls__element.active {
    background-color: #955bff;
    color: #fff;
    border-radius: 100px;
    padding: 10px 20px;
    margin: 0 10px;
}
.base2-header-controls__element.active:hover {
    opacity: 1;
}
.base2-header-label {
    font-size: 20px;
    font-weight: 600;
}
.base2-aside {
    z-index: 3;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #25252d;
    min-width: 150px;
    max-width: 150px;
    height: 100%;
}
.base2-aside__content {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.base2-aside-controls {
    display: flex;
    flex-direction: column;
}
.base2-aside-logo {
    border: 1px solid #fff;
    border-radius: 100px;
    width: 30px;
}
.base2-aside-controls__element_wrapper {
    margin: 20px;
}
.base2-aside-controls__element, .base2-aside-exit-button {
    transition: ease 300ms;
    cursor: pointer;
    width: 30px;
}
.base2-aside-controls__element:hover, .base2-aside-exit-button:hover {
    opacity: .75;
}
.base2-content {
    margin: 125px 50px 0 200px;
}
.all-tasks-block {
    width: 100%;
}
.task-block {
    transition: ease 300ms;
    text-decoration: none;
    color: #25252d;
    outline: none!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: calc(100% - 40px);
}
.task-block:hover {
    border-radius: 15px;
    border-bottom: none;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.task-block-label {
    font-weight: 600;
}
.task-block-progress {
    display: flex;
    align-items: center;
    margin: 0 0 -4px 0;
}
.task-block-progress-line__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vw;
}
.task-block-progress-line-back {
    margin: 0 0 -7.5px 0;
    background-color: #e4e4ed;
    width: 100%;
    border-radius: 100px;
    height: 4px;
}
.task-block-progress-line-front {
    background-color: #955bff;
    border-radius: 100px;
    height: 10px;
}
.task-block-progress-shower {
    font-size: 13px;
    font-weight: 600;
    margin: -2.5px 0 0 10px;
}
.task-block-points {
    font-weight: 500;
    color: #babac3;
    font-size: 13px;
}
.task-block-status {
    width: 20px;
}
.status-change-window {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: -2;
    opacity: 0;
}
.status-change-window__content {
    border-radius: 25px;
    display: inline-block;
    background-color: #25252d;
    padding: 20px 35px;
}
.status-change-window-label {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.status-change-window-block {
    transition: ease 300ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 5px 10px;
}
.status-change-window-block:hover {
    background-color: #53535b;
}
.status-change-window-block-icon {
    width: 17px;
    height: 17px;
}
.status-change-window-block-label {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 0 7px;
}
.status-change-window-pointer {
    background-color: #25252d;
    transform: rotate(45deg);
    margin: 0 0 0 -10px;
    width: 20px;
    height: 20px;
}
.test-creation-window {
    z-index: -2;
    opacity: 0;
    position: fixed;
    display: flex;
    align-items: center;
    left: -9999px;
}
.test-creation-window__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #25252d;
    border-radius: 25px;
    padding: 20px 35px;
}
.test-creation-window-label {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.test-creation-window-input {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border-radius: 100px;
    background-color: #383840;
    border: none;
    outline: none;
    width: calc(100% - 10px);
    height: 35px;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
}
.test-creation-window-button {
    cursor: pointer;
    transition: ease 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 13px;
    border-radius: 100px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #955bff;
    color: #fff;
    margin: 15px 0 0 0;
}
.test-creation-window-button:hover {
    background-color: #fff;
    color: #955bff;
}
.test-creation-window-pointer {
    transform: rotate(45deg);
    background-color: #25252d;
    width: 20px;
    height: 20px;
    margin: 0 -10px 0 0;
}
.menu-pointer {
    z-index: 4;
    position: fixed;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 13px;
    height: 50px;
    left: 0;
}
.learn-page-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.learn-page-code-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-page-code-numbers__element {
    transition: ease 150ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecedf1;
    color: #bdbdca;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #ecedf1;
    width: 27px;
    height: 27px;
    margin: 0 15px 0 0;
}
.cod-number.active {
    color: #955bff;
    border: 2px solid #955bff;
    background-color: #fff;
}
.learn-page-search-form {
    border: none;
    background-color: #ecedf1;
    color: #25252d;
    font-size: 13px;
    border-radius: 100px;
    width: 250px;
    height: 37px;
    padding: 0 0 0 15px;
}
.learn-page-blocks {
    margin: 25px 0 0 0;
}
.learn-block {
    padding: 25px 0;
}
.learn-block-content {
    padding: 0 0 0 50px;
    margin: 30px 0 0 0;
}
.learn-block-label {
    font-size: 25px;
    font-weight: 600;
}
.learn-block-content-text {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0 0 0;
}
.learn-block-content-label {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0 0 0;
}
.learn-block-content-biglabel {
    font-size: 29px;
    font-weight: 500;
    margin: 40px 0 0 0;
}
.learn-block-content-highlighted {
    background-color: #ecedf1;
    padding: 20px 40px;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 23px;
    border-radius: 25px;
    margin: 12px 0 0 0;
}
.learn-block b {
    font-weight: 600;
}
.learn-block table {
    border-radius: 25px;
    background-color: #ecedf1;
    border-collapse: collapse;
}
.learn-block table td {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    border: 2px solid #dbdbe9;
    padding: 25px;
}
.learn-block table tr:first-child td {
    border-top: 0;
}
.learn-block table tr td:first-child {
    border-left: 0;
}
.learn-block table tr:last-child td {
    border-bottom: 0;
}
.learn-block table tr td:last-child {
    border-right: 0;
}
.task-page-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.task-page-label {
    color: #25252d;
    font-size: 25px;
    font-weight: 600;
}
.task-page-button {
    transition: ease 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 13px;
    border-radius: 100px;
    background-color: #955bff;
    font-style: italic;
    text-decoration: none;
    padding: 0 25px;
    border: 2px solid #955bff;
    height: 38px;
}
.task-page-button:hover {
    background-color: #fff;
    color: #955bff;
}
.task-page-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 4px solid #ecedf1;
    border-radius: 25px;
    padding: 25px 50px;
    margin: 50px 0 0 0;
}
.task-page-info-cods {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.task-page-info-cods__element {
    font-size: 11px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecedf1;
    font-weight: 600;
    width: 70px;
    height: 17px;
    margin: 0 10px 0 0;
}
.task-page-info-description {
    font-weight: 500;
    font-size: 15px;
    margin: 15px 0 0 0;
    line-height: 19px;
}
.task-practice-block__element {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: 3px solid #ecedf1;
    border-radius: 25px;
    padding: 25px 50px;
    margin: 0 0 50px 0;
}
.task-practice-block__element-info {
    display: flex;
}
.task-practice-block__element-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #ecedf1;
    border-radius: 100px;
    min-width: 40px;
    width: 40px;
    height: 40px;
}
.task-practice-block__element-description {
    font-weight: 600;
    margin: 0 0 0 30px;
}
.task-practice-block__element-text {
    background-color: #ecedf1;
    border-radius: 25px;
    padding: 30px 40px;
    margin: 20px 0 0 0;
}
.task-practice-block__element-options {
    margin: 20px 0 0 0;
}
.task-practice-block__element-option {
    font-style: italic;
    padding: 3px 0;
}
.task-practice-block__element-controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
.task-practice-block__element-input {
    transition: ease 200ms;
    padding: 0 0 0 15px;
    border-radius: 100px;
    border: 2px solid #ecedf1;
    width: calc(100% - 440px);
}
.task-practice-block__element-check-button {
    transition: ease 300ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #955bff;
    color: #fff;
    font-size: 13px;
    font-style: italic;
    border: 2px solid #955bff;
    width: 196px;
    height: 31px;
}
.task-practice-block__element-check-button:hover {
    border: 2px solid #955bff;
    background-color: #fff;
    color: #955bff;
}
.task-practice-block__element-show-answer-button {
    transition: ease 300ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecedf1;
    border-radius: 100px;
    color: #25252d;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    width: 200px;
    height: 35px;
}
.task-practice-block__element-hidden {
    display: none;
    border-top: 2px solid #ecedf1;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}
.task-practice-block__element-answer {
    font-weight: 600;
    font-style: italic;
}
.task-practice-block__element-explanation {
    color: #898996;
    margin: 5px 0 0 0;
}
.settings-page-content {
    display: flex;
    flex-direction: column;
}
.settings-change-password-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}
.settings-choose-subject-block {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 40px 0 0 0;
}
.settings-change-password-block-label, .settings-choose-subject--block-label {
    font-weight: 600;
    font-size: 22px;
}
.settings-change-password-block-old-password-input, .settings-change-password-block-new-password-input {
    background-color: #ecedf1;
    border: none;
    height: 40px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 100px;
    padding: 0 0 0 15px;
    width: 350px;
    margin: 7px 0 0 0;
}
.settings-change-password-block-old-password-input {
    margin: 20px 0 0 0;
}
.settings-save-button {
    transition: ease 300ms;
    background-color: #955bff;
    color: #fff;
    height: 40px;
    width: 350px;
    font-size: 13px;
    border-radius: 100px;
    border: 2px solid #955bff;
    margin: 40px 0 0 0;
}
.settings-save-button:hover {
    background-color: #fff;
    color: #955bff;
}
.settings-choose-subject--block-choice-block {
    display: flex;
    margin: 20px 0 0 0;
}
.settings-choose-subject--block-choice-block__element {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    display: flex;
    align-items: center;
}
.settings-choose-subject--block-choice-block__element.e2 {
    margin: 0 0 0 20px;
}
.settings-choose-subject--block-choice-block__element label {
    color: #929396;
    margin: 0 0 0 5px;
}
.test-practice-block__element, .test-practice-results-block__element {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: 3px solid #ecedf1;
    border-radius: 25px;
    padding: 25px 50px;
    margin: 0 0 50px 0;
}
.test-practice-block__element-info, .test-practice-results-block__element-info {
    display: flex;
}
.test-practice-block__element-number, .test-practice-results-block__element-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #ecedf1;
    border-radius: 100px;
    min-width: 40px;
    width: 40px;
    height: 40px;
}
.test-practice-block__element-description, .test-practice-results-block__element-description {
    font-weight: 600;
    margin: 0 0 0 30px;
}
.test-practice-block__element-text, .test-practice-results-block__element-text {
    background-color: #ecedf1;
    border-radius: 25px;
    padding: 30px 40px;
    margin: 20px 0 0 0;
}
.test-practice-block__element-options, .test-practice-results-block__element-options {
    margin: 20px 0 0 0;
}
.test-practice-block__element-option, .test-practice-results-block__element-option {
    font-style: italic;
    padding: 3px 0;
}
.test-practice-block__element-input, .test-practice-results-block__element-input {
    transition: ease 200ms;
    padding: 0 0 0 15px;
    border-radius: 100px;
    border: 2px solid #ecedf1;
    width: 100%;
    height: 31px;
    margin: 20px 0 0 0;
}
.test-end-button {
    float: right;
    transition: ease 300ms;
    width: 300px;
    height: 40px;
    border-radius: 100px;
    font-size: 13px;
    border: 2px solid #955bff;
    background-color: #955bff;
    color: #fff;
    margin: 0 0 50px 0;
}
.test-end-button:hover {
    color: #955bff;
    background-color: #fff;
}
.test-practice-results-block__element.right {
    border-color: #2ecc71;
}
.test-practice-results-block__element.wrong {
    border-color: #f74a5a;
}
.test-practice-results-block__element-input.right {
    background-color: #fff;
    border-color: #2ecc71;
}
.test-practice-results-block__element-input.wrong {
    background-color: #fff;
    border-color: #f74a5a;
}
.test-practice-results-block__element-hidden {
    border-top: 2px solid #ecedf1;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}
.test-practice-results-block__element-answer {
    font-weight: 600;
    font-style: italic;
}
.test-practice-results-block__element-explanation {
    color: #898996;
    margin: 5px 0 0 0;
}
.test-practice-results-block__element-number.right, .test-practice-results-block__element-text.right {
    background-color: #2ecc7140;
}
.test-practice-results-block__element-number.wrong, .test-practice-results-block__element-text.wrong {
    background-color: #f74a5a38;
}