{% extends "base2.html" %}

{% block content %}
    {% for task in tasks %}
        <div>
            <p><pre>{{ task["body"] }}</pre></p>
            {% if task["text"] != None %}
                <p>Текст к заданию</p>
            <u><b><i>{{ task["text"] }}</i></b></u>
            {% endif %}
            <p>Выполнено: {{ task["done"] }}</p>
            <input type="text">
            <button>Проверить</button>  <!-- Кнопка сверяет ответы, в случае правильного делает запрос к API -->
            <p>Ответ(типо скрытый): {{ task["answer"] }}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
