{% extends "base2.html" %}

{% block content %}
    {% if current_subj == "russian" %}
        <div class="status-change-window">
            <div class="status-change-window__content">
                <div class="status-change-window-label">Выберите статус для задания:</div>
                <div class="status-change-window-block" data-status="0" onclick="changeTaskStatus(this)">
                    <img class="status-change-window-block-icon" src="{{ url_for('static', filename='img/0_status_icon.png') }}">
                    <div class="status-change-window-block-label">По умолчанию</div>
                </div>
                <div class="status-change-window-block" data-status="1" onclick="changeTaskStatus(this)">
                    <img class="status-change-window-block-icon" src="{{ url_for('static', filename='img/1_status_icon.png') }}">
                    <div class="status-change-window-block-label">Есть проблемы</div>
                </div>
                <div class="status-change-window-block" data-status="2" onclick="changeTaskStatus(this)">
                    <img class="status-change-window-block-icon" src="{{ url_for('static', filename='img/2_status_icon.png') }}">
                    <div class="status-change-window-block-label">Нужно повторить</div>
                </div>
                <div class="status-change-window-block" data-status="3" onclick="changeTaskStatus(this)">
                    <img class="status-change-window-block-icon" src="{{ url_for('static', filename='img/3_status_icon.png') }}">
                    <div class="status-change-window-block-label">Разобрано</div>
                </div>
            </div>
            <div class="status-change-window-pointer"></div>
        </div>
        <div class="all-tasks-block" data-subject-name="{{ current_subj }}">
            {% for task in tasks_list %}
                <a class="task-block" href="{{ url_for('tasks.task_theory', subj_name=current_subj, task_id=task['number']) }}">
                    <div class="task-block-label">Задание {{ task["number"] }}</div>
                    <div class="task-block-progress">
                        <div class="task-block-progress-line__wrapper">
                            <div class="task-block-progress-line-back"></div>
                            <div class="task-block-progress-line-front" style="width: {{ task["compete_percentage"] }}%"></div>
                        </div>
                        <div class="task-block-progress-shower">{{ task["compete_percentage"] }}%</div>
                    </div>
                    <div class="task-block-points">{{ task["points"] }} балл</div>
                    <img class="task-block-status" src="{{ url_for('static', filename='img/' + task["status"]|string + "_status_icon.png") }}" data-task-number="{{ task["number"] }}">
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="coming-soon">Данный раздел пока находится в разработке!</div>
    {% endif %}
{% endblock %}
