{% extends "base2.html" %}

{% block content %}
    <div class="task-page-controls">
        <div class="task-page-label">Задание {{ task_id }}</div>
        <a class="task-page-button" href="{{ url_for('tasks.task_tasks', subj_name=current_subj, task_id=task_id) }}">Решать задачи</a>
    </div>
    <div class="task-page-info">
        <div class="task-page-info-cods">
            {% for cod in cods %}
                <div class="task-page-info-cods__element">{{ cod }}</div>
            {% endfor %}
        </div>
        <div class="task-page-info-description">{{ task_description }}</div>
    </div>
    <div class="task-page-blocks">
        {% for cod in cods %}
            {% include "/cods/russian_" + cod.replace(".", "-") + ".html" %}
        {% endfor %}
    </div>
{% endblock %}
