<div class="learn-block" data-subject="russian" data-number="2.2">
	<div class="learn-block-label">2.2 - Синонимы. Антонимы. Омонимы</div>
	<div class="learn-block-content">
		<div class="learn-block-content-label"><b>Синонимы, их значение</b></div> 
		<div class="learn-block-content-highlighted"><b>Синонимы</b> — это слова одной части речи, отличающиеся звучанием и написанием, однако схожие по значению: врач, эскулап, лекарь, доктор.</div>
		<div class="learn-block-content-text">Они отличаются оттенками значения, экспрессией или стилевой принадлежностью.</div> 
		<div class="learn-block-content-text">Зачем нужны синонимы?<br>Во – первых, чтобы точнее сформулировать мысль.<br>Во – вторых, чтобы связать предложения в тексте.<br>В – третьих, для придания эмоциональной окраски.<br>В – четвёртых, для преодоления неоправданного повтора.</div>
		<div class="learn-block-content-label"><b>Антонимы, их значение</b></div> 
		<div class="learn-block-content-highlighted"><b>Антонимы</b> — слова одной части речи, прямо противоположные по смыслу: жёсткий – мягкий, искренний – лицемерный.</div>
		<div class="learn-block-content-text">Они бывают:<br>однокорневыми (сжать – разжать, глупый – неглупый) <br>и разнокорневыми (пол – потолок, белый – чёрный).</div>
		<div class="learn-block-content-text">Зачем используют антонимы?<br>Во – первых, для выражения оттенков противоположности.<br>Во – вторых, для создания смысловой полноты и выразительности.</div>
		<div class="learn-block-content-label"><b>Омонимы</b></div>
		<div class="learn-block-content-highlighted"><b>Омонимы</b> — это слова одной части речи, одинаковые по звучанию и написанию, однако различные по смыслу: рысь – бег животных (к примеру, коня) и рысь – дикое животное.</div>
		<div class="learn-block-content-text">Важно не путать многозначное слово с омонимами! У многозначных есть хоть что-то общее, у омонимов – нет!</div>
	</div>
</div>