<div class="learn-block" data-subject="russian" data-number="5.6">
	<div class="learn-block-label">5.6 - Полные и неполные предложения</div>
	<div class="learn-block-content">
		<div class="learn-block-content-text">По наличию либо отсутствию нужных членов предложения существуют:<br>полные,<br>неполные.</div>
		<div class="learn-block-content-highlighted"><b>Полные</b> — предложения, имеющие все необходимые для смысловой полноты члены:</div>
		<div class="learn-block-content-text"><b>Примеры:</b><br>Ребята интересно провели вечер.<br>Павел Сергеевич вручил выпускникам аттестаты.</div>
		<div class="learn-block-content-text">Сказуемое согласуется с подлежащим, а также связан с дополнением и обстоятельством, получается цепь связанных по смыслу членов предложения.</div>
		<div class="learn-block-content-highlighted"><b>Неполные</b> - предложения, в которых нет всех нужных членов. </div>
		<div class="learn-block-content-text">Пропущенные члены предложения легко  можно восстановить из предыдущих предложений, контекста. Зачастую  неполные предложения встречаются в диалогах:<br>- Сколько сейчас на часах? (полн.)<br>- Десять. (неполн.)<br>- А во сколько начинается спектакль? (полн.)<br>- В одиннадцать. (неполн.)</div>
		<div class="learn-block-content-text">Неполным предложением может быть вторая часть сложного предложения, и зачастую опускается сказуемое.</div>
		<div class="learn-block-content-text"><b>Примеры:</b><br>Береги платье снову, а честь – смолоду (опущено, но легко восстанавливается сказуемое  береги).<br>Ночи летом короткие, а зимой – длинные (опущено подлежащее ночи).</div>
		<div class="learn-block-content-text">Неполные предложения, весьма облегчающие общение, широко используются в разговорной речи, в художественных произведениях. В деловом стиле, а также в научной литературе используются полные.</div>
	</div>
</div>