<div class="learn-block" data-subject="russian" data-number="9.4">
	<div class="learn-block-label">9.4 - Грамматические нормы (синтаксические нормы)  </div>
	<div class="learn-block-content">
		<div class="learn-block-content-highlighted"><b>Синтаксические нормы </b>– это правильное расположение слов и словосочетаний для создания простых или сложных предложений.</div><br>
		<div class="learn-block-content-text">Самая распространенная ошибка в синтаксисе – неправильное определение управленческой связи между словами в словосочетании.<b>Например:</b>  «сказать об этом вместо него». Данная конструкция неправильна. Вернее будет сказать «сказать это вместо него». Нарушение связи между подлежащим и сказуемым.</div><br><br>В словосочетания: существительное + прилагательное или существиельное + глагол тоже допускаются обидные ошибки.<b>Например</b>	 : вагон – закусочная находится в самом конце. Глагол относится не к последнему слову «закусочная», а к первому «вагон». У метро «Калинка» стоит бабушка. Метро – существительное, главное слово, «Калинка» – зависимое прилагательное.<br>
	</div>
</div>