<div class="learn-block" data-subject="russian" data-number="6.2">
	<div class="learn-block-label">6.2 - Употребление гласных букв И/Ы, А/Я, У/Ю после шипящих и Ц</div>
	<div class="learn-block-content">
		<div class="learn-block-content-label">Употребление гласных букв И/Ы, А/Я, У/Ю после шипящих</div>
		<div class="learn-block-content-text">В русском языке есть 4 шипящих: Ж, Ш, Щ и Ч.</div>
		<div class="learn-block-content-text"><b>Ж</b> и <b>Ш</b> - всегда твердые, а <b>Ч</b> и <b>Щ</b> – всегда мягкие. Все мы учим правила:</div>
		<div class="learn-block-content-text"><b>ЖИ, ШИ</b> пишем с <b>И</b> (шИрокий, тишИна, жИвёт, жИровик);<br><b>ЧА, ЩА</b> пишем с <b>А</b> (чАщА, очАрованный, помещАться);<br><b>ЧУ, ЩУ</b> пишем с <b>У</b> (чУрчхела, чУдесный, щУчий, верещуУ).</div>
		<div class="learn-block-content-label">Употребление гласных букв И/Ы, А/Я, У/Ю после Ц</div>
		<div class="learn-block-content-text">Как правильно написать гласные после Ц? Запомните следующее:<br><b>1) Ы</b> после <b>Ц</b> пишем только в окончаниях и суффиксе <b>-ЫН-</b>: сестрицЫН,  КуницЫН, огурцЫ, молодцЫ.<br>В других случаях после <b>Ц</b> пишем только <b>И</b>: цИркач, цИфровой, мотоцИкл, милицИя , ФранцИя<br><b>2) Ю</b> и <b>Я</b> после <b>Ц</b> пишут только в нерусских словах: Цюрупа, Цяньшань.</div>
</div>