<div class="learn-block" data-subject="russian" data-number="1.1">
	<div class="learn-block-label">1.1 - Звуки и буквы</div>
	<div class="learn-block-content">
		<div class="learn-block-content-text">Звуки представляют собой самые маленькие нечленимые единицы речи. Они создают звуковую оболочку слов и выполняют смыслоразличительную функцию. Они делятся на гласные и согласные.</div>
		<div class="learn-block-content-label">Гласные</div>
		<div class="learn-block-content-highlighted"><b>Гласные</b> создаются при помощи голоса. В русском языке 6 гласных звуков: <b>[а], [о], [у], [э], [ы], [и]</b>.</div>
		<div class="learn-block-content-text">Гласные могут быть под ударением и без.</div>
		<div class="learn-block-content-label">Согласные</div>
		<div class="learn-block-content-highlighted">Звуки, при возникновении которых струя воздуха встречает во рту преграду, есть <b>согласные</b>.</div>
		<div class="learn-block-content-text">Согласные делятся на:<br>твёрдые и мягкие,<br>звонкие и глухие.</div>
		<div class="learn-block-content-text">У многих согласных звуков есть:пара по твёрдости-мягкости:<b>[б]–[б’], [в]–[в’], [г]–[г’], [д]–[д’], [з]–[з’], [к]–[к’], [л]–[л’], [м]–[м’], [н]–[н’], [п]–[п’], [р]–[р’], [с]–[с’], [т]–[т’], [ф]–[ф’], [х]–[х’],</b><br>по звонкости-глухости:<b>[б]-[п], [в]-[ф], [г]-[к], [д]-[т], [ж]-[ш], [з]-[с].</b></div>
		<div class="learn-block-content-text">Звуки, не составляющие пару по звонкости-глухости:<br>глухие:<b>[х], [х'], [ц], [ч’], [щ’],</b><br>звонкие:<b>[р], [л], [м], [н], [й’].</b></div>
		<div class="learn-block-content-highlighted">Звуки <b>[ж], [ш], [ч’], [щ’]</b> называются <b>шипящими</b>.</div>
		<div class="learn-block-content-highlighted">Для обозначения на письме звуков, применяют <b>буквы</b> – графические символы.</div>
		<div class="learn-block-content-text">В русском алфавите 33 буквы: <br>10 означают гласные,<br>21 – согласные,<br>а ещё ъ и ь, которые не означают звуки.</div>
		<div class="learn-block-content-text">Буквы <b>е, ё, ю, я</b> играют двойную роль. Два звука они означают:<br>1) после гласного (се[й’а]ть),<br>2) в начале слова ([й’у]ла),<br>3) после разделительных ь и ъ знаков (вь[й’у]га).</div>
		<div class="learn-block-content-highlighted">Единицей чтения и письма является <b>слог</b>. Слог произносится одним выдыхательным толчком.</div>
		<div class="learn-block-content-text">Сколько гласных, столько и слогов!</div>
		<div class="learn-block-content-highlighted"><b>Ударение</b> – произнесение одного слога с большей силой. Иногда только ударение помогает различать слова.</div>

	</div>
</div>