<div class="learn-block" data-subject="russian" data-number="1.2">
	<div class="learn-block-label">1.2 - Фонетический анализ слова</div>
	<div class="learn-block-content">
		<div class="learn-block-content-label"><b>План анализа</b></div>
		<div class="learn-block-content-text">1. Произнесите слово. Разделите его на слоги. Назовите звуки.<br>2. Запишите фонетическую транскрипцию, укажите ударный слог.<br>3. Охарактеризуйте каждый звук в отдельности (гласный – ударный или безударный; согласный – звонкий – глухой; твердый – мягкий) укажите, какой буквой этот звук обозначен.<br>4. Укажите количество звуков и букв в слове.</div>
		<div class="learn-block-content-label"><b>Образец письменного анализа</b></div>
		<div class="learn-block-content-text">Слово <b>"южный"</b>:<br>1. <br>[Й’<b>у</b>ж|ный] (южный) – 2 слога, 2 гласных, 2 согласных.<br>2. <br><b>Ю</b> [Й’] – согласный, звонкий (сонорный), мягкий. <br><b>У</b> [У] – гласный, ударный. <br><b>Ж</b> [Ж] – согласный, звонкий, твёрдый. <br><b>Н</b> [Н] – согласный, звонкий (сонорный), твёрдый. <br><b>Ы</b> [Ы] – гласный, безударный. <br><b>Й</b> [Й’] – согласный, звонкий (сонорный), мягкий. <br>6 звуков, 5 букв.<br>В начале слова буква <b>Ю</b> обозначает два звука.</div>
	</div>
</div>