<div class="learn-block" data-subject="russian" data-number="2.1">
	<div class="learn-block-label">2.1 - Лексическое значение слова</div>
	<div class="learn-block-content">
		<div class="learn-block-content-text">Главнейшей единицей языка считается слово.</div>
		<div class="learn-block-content-highlighted">То, что значит отдельное самостоятельное слово, и называется его <b>лексическим значением.</b></div>
		<div class="learn-block-content-text">У одного слова может быть несколько значений.</div>
		<div class="learn-block-content-highlighted">Большинство слов имеют несколько смыслов, их называют <b>многозначными.</b></div>
		<div class="learn-block-content-text">К примеру, "крем":<br><b>1.</b> Косметическое средство — крем для тела.<br><b>2.</b> Кондитерское изделие — пирожное с воздушным кремом.</div>
		<div class="learn-block-content-text"><b>Однозначных</b> же слов намного меньше, к ним относят:<br>наименования,<br>числительные,<br>термины и др.<br>К примеру, лиса, окунь, кастрюля, аффикс.</div>
		<div class="learn-block-content-text">У слова может быть как прямое, так переносное значения:</div>
		<div class="learn-block-content-highlighted"><b>Прямое значение</b> - основное лексическое значение слова, которое означает явление действительности.</div>
		<div class="learn-block-content-highlighted"><b>Переносное значение</b> слова образуется, когда переносится значение одного явления на другое.</div>
		<div class="learn-block-content-text">Пример:<br>изумрудное колье (прямое) — изумрудное поле (переносное);<br>стеклянный графин (прямое) — стеклянные глаза (переносное).<br>Переносное значение вторично и возникает на основе сходства или смежности.</div>


		
	</div>
</div>